
<header class="container-fluid about">
    <section class="container">
        <h1>Handlebars templates scaffolding</h1>
    </section>
</header>
<section class="container">
    <div class="row">
        <h2>Attributions</h2>

        <h3>Icons</h3>
        <a href="https://thenounproject.com/naomiatkinson/uploads/?i=5603" target="_blank" rel="noopener nofollow">Star</a> by 
        <a href="https://thenounproject.com/naomiatkinson" target="_blank" rel="noopener nofollow">Naomi Atkinson</a> from the 
        <a href="https://thenounproject.com/" target="_blank" rel="noopener nofollow">Noun Project</a>.
        <h3>Images</h3>

        https://www.pexels.com/photo/architecture-buildings-europe-houses-358589/ https://www.pexels.com/@pixabay

        https://www.pexels.com/photo/landscape-photo-713090/ https://www.pexels.com/@nextvoyage

        https://www.pexels.com/photo/mountain-and-lake-at-sunset-135157/ https://www.pexels.com/@monicore

        https://www.pexels.com/photo/asphalt-clouds-curve-daylight-577696/ https://www.pexels.com/@lkloeppel
    </div>
</section>