<header class="container-fluid home-header">
    <section class="container">
        <h1>Handlebars templates scaffolding</h1>
    </section>
</header>
<section class="container">
    <div class="row">
        {{#each listElements}}
            {{#include "ui-box" this}}{{/include}}
        {{/each}}
    </div>
</section>