<header class="container-fluid home">
    <section class="container">
        <a href="/">
            <h1>Handlebars templates scaffolding</h1>
        </a>
    </section>
</header>
<section class="container home-view">
    <div class="row">
        <h2>Includes example</h2>
    </div>
    <div class="row-box">
        {{#each listElements}}
            {{#include "ui-box" this}}{{/include}}
        {{/each}}
    </div>
</section>